.animated{
    animation-duration:0.2s;
}
@media (min-width: 1200px)
{
    .row-5 .col-lg-2 {
        width: 20%;
    }
}

/* @media (min-width: 768px)
{
.nav-xs {
    width: 100px !important;
}
} */
.row-sm > div {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.list-group-item {
    padding: 15px 15px;
}


.btn-transparent {
    color:  white ;
    background-color: transparent !important;
    border-color: #dbe2e7;
    border-bottom-color: #d5dde3;
  }
  .btn-transparent:hover,
  .btn-transparent:focus,
  .btn-transparent:active,
  .btn-transparent.active,
  .open .dropdown-toggle.btn-transparent {
    color: #D8DAED !important;
    background-color: #f2f2f2;
    border-color: #c2ced6;
  }
  .btn-transparent:active,
  .btn-transparent.active,
  .open .dropdown-toggle.btn-transparent {
    background-image: none;
  }

  .w-95p{
      width: 95%;
  }
 
  .input-s-xl {
    width: 800px;
  }

  .block
  {
      display: block !important
  }


.p-l-0
{
  padding-left: 0px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
}
.list-group-item.clear {
    border: none;
}

.list-group-item:last-child,
.list-group-item:first-child  {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


.minister-pic{
width:81px !important;
}

@media (min-width: 768px)
{
.col-sm-2.fit {
    width: 18.66666667%;
}
}

.left-column{
border-right: 1px solid #232c32 ;
}

.border-top{
    border-top: 1px solid #232c32 ;
}

.border{
    border: 1px solid #232c32 ;
}

.item > img {
    height: 220px;
}

.btn-muted {
    color: #788188 !important;
    background-color: #627b8c;
    border-color: #627b8c;
    border-bottom-color: #627b8c;
    -webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
    box-shadow: 0 1px 1px rgba(90,90,90,0.1);
  }
  .btn-muted:hover,
  .btn-muted:focus,
  .btn-muted:active,
  .btn-muted.active,
  .open .dropdown-toggle.btn-muted {
    color: #788188 !important;
    background-color: #f2f2f2;
    border-color: #c2ced6;
  }
  .btn-muted:active,
  .btn-muted.active,
  .open .dropdown-toggle.btn-muted {
    background-image: none;
  }

  .btn-xs, .btn-group-xs > .btn {
    padding: 5px 8px;
    font-size: 10px;
    line-height: 1.0;
    border-radius: 3px;
}


.bg-info .text-muted {
    color: #627b8c !important; 
  }

.border-muted-light{
    border-color: #232c32 !important;
}

.bg-info .caret {
    border-top-color: #788188 !important;
    border-bottom-color: #788188 !important;
}

.pagination > li > a, .pagination > li > span {
    color: #7d93a3 !important;
}